{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado Demandados </h1>

    <table>
      <thead>
          <tr>
              <th>Id demandado</th>
              <th>Nombre demandado</th>
              <th>Direccion demandado</th>
              <th>Dir notificacion demandado</th>
              <th>Telefono demandado</th>
              <th>Estado demandado</th>
              <th>Opciones</th>
          </tr>
      </thead>
        <tbody>
        {% for demandado in demandados %}
            <tr>
                <td><a href="{{ path('demandados_show', { 'id': demandado.idDemandado }) }}">{{ demandado.idDemandado }}</a></td>
                <td>{{ demandado.nombreDemandado }}</td>
                <td>{{ demandado.direccionDemandado }}</td>
                <td>{{ demandado.dirnotificacionDemandado }}</td>
                <td>{{ demandado.telefonoDemandado }}</td>
                <td>{% if demandado.estadoDemandado %}si{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('demandados_show', { 'id': demandado.idDemandado }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('demandados_edit', { 'id': demandado.idDemandado }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandados_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
