{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Demandados</h1>

    <table>
      <tbody>
          <tr>
              <th>Id demandado</th>
              <td>{{ demandado.idDemandado }}</td>
          </tr>
          <tr>
              <th>Nombre demandado</th>
              <td>{{ demandado.nombreDemandado }}</td>
          </tr>
          <tr>
              <th>Direccion demandado</th>
              <td>{{ demandado.direccionDemandado }}</td>
          </tr>
          <tr>
              <th>Dir notificacion demandado</th>
              <td>{{ demandado.dirnotificacionDemandado }}</td>
          </tr>
          <tr>
              <th>Telefono demandado</th>
              <td>{{ demandado.telefonoDemandado }}</td>
          </tr>
          <tr>
              <th>Estado demandado</th>
              <td>{% if demandado.estadoDemandado %}Activo{% else %}No{% endif %}</td>
          </tr>
      </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandados_index') }}">Regresar al Listado</a>
        </li>
        <li>
            <a href="{{ path('demandados_edit', { 'id': demandado.idDemandado }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
