{% extends 'base.html.twig' %}

{% block body %}
    <h1>Demandados</h1>

    <table>
        <tbody>
            <tr>
                <th>Iddemandado</th>
                <td>{{ demandado.idDemandado }}</td>
            </tr>
            <tr>
                <th>Nombredemandado</th>
                <td>{{ demandado.nombreDemandado }}</td>
            </tr>
            <tr>
                <th>Direcciondemandado</th>
                <td>{{ demandado.direccionDemandado }}</td>
            </tr>
            <tr>
                <th>Dirnotificaciondemandado</th>
                <td>{{ demandado.dirnotificacionDemandado }}</td>
            </tr>
            <tr>
                <th>Telefonodemandado</th>
                <td>{{ demandado.telefonoDemandado }}</td>
            </tr>
            <tr>
                <th>Estadodemandado</th>
                <td>{% if demandado.estadoDemandado %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('demandados_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('demandados_edit', { 'id': demandado.idDemandado }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
