{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listado de Ciudades</h1>

    <table>
        <thead>
          <tr>
              <th>Idciudad</th>
              <th>Postalciudad</th>
              <th>Ciudad</th>
              <th>Estado </th>
              <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
        {% for ciudad in ciudads %}
        <tr>
            <td><a href="{{ path('ciudad_show', { 'id': ciudad.idCiudad }) }}">{{ ciudad.idCiudad }}</a></td>
            <td>{{ ciudad.postalCiudad }}</td>
            <td>{{ ciudad.ciudad }}</td>
            <td>{% if ciudad.estadoCiudad %}Activo{% else %}No{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('ciudad_show', { 'id': ciudad.idCiudad }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('ciudad_edit', { 'id': ciudad.idCiudad }) }}">Editar</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ciudad_new') }}">Crear Nueva Ciudad</a>
        </li>
    </ul>
{% endblock %}
