{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pretenciones list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpretencion</th>
                <th>Pretencionprocesal</th>
                <th>Estadopretencion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pretencione in pretenciones %}
            <tr>
                <td><a href="{{ path('pretenciones_show', { 'id': pretencione.idPretencion }) }}">{{ pretencione.idPretencion }}</a></td>
                <td>{{ pretencione.pretencionProcesal }}</td>
                <td>{% if pretencione.estadoPretencion %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pretenciones_show', { 'id': pretencione.idPretencion }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pretenciones_edit', { 'id': pretencione.idPretencion }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pretenciones_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
