{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pretenciones</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpretencion</th>
                <td>{{ pretencione.idPretencion }}</td>
            </tr>
            <tr>
                <th>Pretencionprocesal</th>
                <td>{{ pretencione.pretencionProcesal }}</td>
            </tr>
            <tr>
                <th>Estadopretencion</th>
                <td>{% if pretencione.estadoPretencion %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pretenciones_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pretenciones_edit', { 'id': pretencione.idPretencion }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
