{% extends 'layout.html.twig' %}

{% block body %}
      <h1>Listado de Estados civiles </h1>

    <table>
      <thead>
          <tr>
              <th>Id estado civil</th>
              <th>Estado civil</th>
              <th>Estado</th>
              <th>opciones</th>
          </tr>
      </thead>
        <tbody>
        {% for estadoscivile in estadosciviles %}
        <tr>
            <td><a href="{{ path('estadosciviles_show', { 'id': estadoscivile.idEstadocivil }) }}">{{ estadoscivile.idEstadocivil }}</a></td>
            <td>{{ estadoscivile.estadocivil }}</td>
            <td>{% if estadoscivile.estadoEstadocivil %}Activo{% else %}No{% endif %}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('estadosciviles_show', { 'id': estadoscivile.idEstadocivil }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('estadosciviles_edit', { 'id': estadoscivile.idEstadocivil }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('estadosciviles_new') }}">Crear Nuevo estado civil</a>
        </li>
    </ul>
{% endblock %}
