{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista Bufetes</h1>

    <table>
        <thead>
            <tr>
                <th>Id bufete</th>
                <th>Nombre bufete</th>
                <th>Telefono1 </th>
                <th>Telefono2</th>
                <th>Email bufete</th>
                <th>Direccion bufete</th>
                <th>Estado bufete</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for bufete in bufetes %}
            <tr>
                <td><a href="{{ path('bufetes_show', { 'id': bufete.idBufete }) }}">{{ bufete.idBufete }}</a></td>
                <td>{{ bufete.nombreBufete }}</td>
                <td>{{ bufete.telefono1Bufete }}</td>
                <td>{{ bufete.telefono2 }}</td>
                <td>{{ bufete.emailBufete }}</td>
                <td>{{ bufete.direccionBufete }}</td>
                <td>{{ bufete.estadoBufete }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bufetes_show', { 'id': bufete.idBufete }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('bufetes_edit', { 'id': bufete.idBufete }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bufetes_new') }}">Crear nuevo Bufete</a>
        </li>
    </ul>
{% endblock %}
