{% extends 'layout.html.twig' %}

{% block body %}
    <h1>Listado de departamentos</h1>

    <table>
        <thead>
          <tr>
              <th>Id departamento</th>
              <th>Codigo Postal departamento</th>
              <th>Departamento</th>
              <th>Pais</th>
              <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
        {% for departamento in departamentos %}
            <tr>
                <td><a href="{{ path('departamentos_show', { 'id': departamento.idDepartamento }) }}">{{ departamento.idDepartamento }}</a></td>
                <td>{{ departamento.postalDepartamento }}</td>
                <td>{{ departamento.departamento }}</td>
                <td>{{ departamento.idPais.pais }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('departamentos_show', { 'id': departamento.idDepartamento }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('departamentos_edit', { 'id': departamento.idDepartamento }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('departamentos_new') }}">Crear Nuevo departamento</a>
        </li>
    </ul>
{% endblock %}
