{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listar Paises</h1>

    <table>
        <thead>
            <tr>
                <th>Id pais</th>
                <th>Pais</th>
                <th>Estadopais</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for paise in paises %}
            <tr>
                <td><a href="{{ path('paises_show', { 'id': paise.idPais }) }}">{{ paise.idPais }}</a></td>
                <td>{{ paise.pais }}</td>
                <td>{% if paise.estadoPais %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('paises_show', { 'id': paise.idPais }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('paises_edit', { 'id': paise.idPais }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('paises_new') }}">Crear nuevo pais</a>
        </li>
    </ul>
{% endblock %}
